@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager;
@{
    var loggedInUser = await _userManager.GetUserAsync(User);
    var loggedInUserRoles = await _userManager.GetRolesAsync(loggedInUser);
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>@ViewData["Title"] - BookShop</title>
    <!-- CSS files -->
    <link href="/admin_panel/dist/css/tabler.min.css?1684106062" rel="stylesheet"/>
    <link href="/admin_panel/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet"/>
    <link href="/admin_panel/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet"/>
    <link href="/admin_panel/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet"/>
    <link href="/admin_panel/dist/css/demo.min.css?1684106062" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <style>
      @@import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
</head>
<body >
<script src="/admin_panel/dist/js/demo-theme.min.js?1684106062"></script>
<div class="page">
<!-- Navbar -->
<header class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a  asp-area="" asp-controller="Dashboard" asp-action="Index">
                <img src="/public_panel/images/logo/logo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
            </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">
            <div class="d-none d-md-flex">
                <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
                   data-bs-placement="bottom">
                    <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"/>
                    </svg>
                </a>
                <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
                   data-bs-placement="bottom">
                    <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"/><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"/>
                    </svg>
                </a>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                    @if (string.IsNullOrWhiteSpace(loggedInUser?.ProfilePictureUrl))
                    {
                        <span class="avatar avatar-sm" style="font-size: medium;">
                            @loggedInUser?.FirstName?[..1]?.ToUpper()@loggedInUser?.LastName?[..1]?.ToUpper()
                        </span>
                    }
                    else
                    {
                        <span class="avatar avatar-sm" style="background-image: url(/admin_panel/static/avatars/000m.jpg)"></span>
                    }
                    <div class="d-none d-xl-block ps-2">
                        <div>@loggedInUser?.FullName</div>
                        <div class="mt-1 small text-muted">
                            @string.Join(", ", loggedInUserRoles)
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="./profile.html" class="dropdown-item">Profile</a>
                    <form asp-area="Dashboard" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="container-xl">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0"/><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/>
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Home
                            </span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"/><path d="M12 12l8 -4.5"/><path d="M12 12l0 9"/><path d="M12 12l-8 -4.5"/><path d="M16 5.25l-8 4.5"/>
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Interface
                            </span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item" asp-area="Dashboard" asp-controller="Units" asp-action="Index">
                                        Units
                                    </a>
	                                <a class="dropdown-item" asp-area="Dashboard" asp-controller="Users" asp-action="Index">
		                                Users
	                                </a>
	                                <a class="dropdown-item" asp-area="Dashboard" asp-controller="Orders" asp-action="Index">
		                                Orders
	                                </a>
                                </div>
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item" asp-area="Dashboard" asp-controller="Categories" asp-action="Index">
                                        Categories
                                    </a>
                                    <a class="dropdown-item" asp-area="Dashboard" asp-controller="Books" asp-action="Index">
                                        Books
                                    </a>
                                    <a class="dropdown-item" asp-area="Dashboard" asp-controller="Blogs" asp-action="Index">
                                        Blogs
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</header>
@RenderBody()
<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright &copy; 2023
                        <a href="." class="link-secondary">BookShop</a>.
                        All rights reserved.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- Libs JS -->
<script src="/admin_panel/dist/libs/apexcharts/dist/apexcharts.min.js?1684106062" defer></script>
<script src="/admin_panel/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1684106062" defer></script>
<script src="/admin_panel/dist/libs/jsvectormap/dist/maps/world.js?1684106062" defer></script>
<script src="/admin_panel/dist/libs/jsvectormap/dist/maps/world-merc.js?1684106062" defer></script>
<!-- Tabler Core -->
<script src="/admin_panel/dist/js/tabler.min.js?1684106062" defer></script>
<script src="/admin_panel/dist/js/demo.min.js?1684106062" defer></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
      $(".deleteBtn").click(function (e) {
        e.preventDefault();
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            this.closest("form").submit();
          }
        })
      });
    });
  </script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
    let table = new DataTable('#dataTable');
  </script>
<script>
    $(document).ready(function () {
      $('.select2').select2();
    });
  </script>
<script>
        $(document).ready(function () {
            // Get references to the input and image elements
            const $imageInput = $('#imageInput');
            const $imagePreview = $('#imagePreview');

            // Add an event listener to the file input element
            $imageInput.change(function () {
                const file = this.files[0];

                if (file) {
                    // Read the selected file as a data URL
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        // Set the src attribute of the image to the data URL
                        $imagePreview.attr('src', e.target.result);
                        $imagePreview.css('display', 'block'); // Show the image
                    };
                    reader.readAsDataURL(file);
                } else {
                    // If no file is selected, hide the image
                    $imagePreview.css('display', 'none');
                }
            });
        });
    </script>
<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/3ydadst2i7ajiirqsyhqijfizutu55w8v0q0onnf07t6zq67/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>
  tinymce.init({
    selector: '.tinyEditor',
    plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
  });
</script>
@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", false)
</body>
</html>