@using BookShop.Repositories.Interface
@inject ICategoryRepository CategoryRepository
@{
    var isAccountPage = Context.Request.Path.StartsWithSegments("/Account");
    var isBookDetailsPage = Context.Request.Path.StartsWithSegments("/Book");
    var categories = await CategoryRepository.GetAllAsync();
}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home | Book Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/public_panel/images/favicon.ico">
    <link rel="apple-touch-icon" href="/public_panel/images/icon.png">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/public_panel/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public_panel/css/plugins.css">
    <link rel="stylesheet" href="/public_panel/css/style.css">

    <!-- Cusom css -->
    <link rel="stylesheet" href="/public_panel/css/custom.css">

    <!-- Modernizer js -->
    <script src="/public_panel/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
<!-- Main wrapper -->
<div class="wrapper" id="wrapper">
    <!-- Header -->
    <header id="wn__header" class='@(isAccountPage||isBookDetailsPage?"oth-page":"") header__area header__absolute sticky__header'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                    <div class="logo">
                        <a href="/">
                            <img src="/public_panel/images/logo/logo.png" alt="logo images">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-block">
                    <nav class="mainmenu__nav">
                        <ul class="meninmenu d-flex justify-content-start">
                            <li><a href="/">Home</a></li>
                            <li class="drop"><a href="blog.html">Category</a>
                                <div class="megamenu dropdown">
                                    <ul class="item item01">
                                        @foreach (var category in categories)
                                        {
                                            <li><a href="#">@category?.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <partial name="_LoginPartial"/>
            </div>
            <!-- Start Mobile Menu -->
            <div class="row d-none">
                <div class="col-lg-12 d-none">
                    <nav class="mobilemenu__nav">
                        <ul class="meninmenu">
                            <li><a href="/">Home</a>
                            </li>
                            <li><a href="#">Category</a>
                                <ul>
                                         @foreach (var category in categories)
                                         {
                                             <li>
                                                 <a href="#">@category?.Name</a>
                                             </li>
                                         }
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End Mobile Menu -->
            <div class="mobile-menu d-block d-lg-none">
            </div>
            <!-- Mobile Menu -->
        </div>
    </header>
    <!-- //Header -->
    <!-- Start Search Popup -->
    <div class="brown--color box-search-content search_active block-bg close__top">
        <form id="search_mini_form" class="minisearch" action="#">
            <div class="field__search">
                <input type="text" placeholder="Search entire store here...">
                <div class="action">
                    <a href="#"><i class="zmdi zmdi-search"></i></a>
                </div>
            </div>
        </form>
        <div class="close__wrap">
            <span>close</span>
        </div>
    </div>
    <!-- End Search Popup -->
    @RenderBody()
    <!-- Footer Area -->
    <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
        <div class="footer-static-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer__widget footer__menu">
                            <div class="ft__logo">
                                <a href="index.html">
                                    <img src="/public_panel/images/logo/3.png" alt="logo">
                                </a>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered duskam alteration variations of passages</p>
                            </div>
                            <div class="footer__content">
                                <ul class="social__net social__net--2 d-flex justify-content-center">
                                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                    <li><a href="#"><i class="bi bi-google"></i></a></li>
                                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                    <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                                </ul>
                                <ul class="mainmenu d-flex justify-content-center">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/books">All Books</a></li>
                                    <li><a asp-controller="Wishlist" asp-action="Index">Wishlist</a></li>
                                    <li><a href="index.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright__wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="copyright">
                            <div class="copy__right__inner text-start">
                                <p>&copy; 2021, BookShop. Made with <i class="fa fa-heart text-danger"></i> by <a
                                        href="http://saileshrijal.com.np/" target="_blank">Sailesh Rijal</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="payment text-end">
                            <img src="/public_panel/images/icons/payment.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //Footer Area -->
</div>
<!-- //Main wrapper -->

<!-- JS Files -->
<script src="/public_panel/js/vendor/jquery.min.js"></script>
<script src="/public_panel/js/popper.min.js"></script>
<script src="/public_panel/js/vendor/bootstrap.min.js"></script>
<script src="/public_panel/js/plugins.js"></script>
<script src="/public_panel/js/active.js"></script>
@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", false)
<script >
var logOutForm = document.getElementById("logoutForm");
var logOutBtn = document.getElementById("logoutBtn");

logOutBtn.addEventListener("click", function(e) {
    e.preventDefault();
    logOutForm.submit();
});

</script>
</body>
</html>