@model AddUserVm
@{
    ViewData["title"] = "Add User";
}
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        CMS
                    </div>
                    <h2 class="page-title">
                        Dashboard
                    </h2>
                </div>
                <!-- Page title actions -->
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <span class="d-none d-sm-inline">
                            <a asp-action="Index" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M5 12l14 0"></path>
                                    <path d="M5 12l6 6"></path>
                                    <path d="M5 12l6 -6"></path>
                                </svg>
                                Go Back
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="container-xl">
            <div class="col-md-12">
                <form class="card" asp-action="Add">
                    <div class="card-header">
                        <h3 class="card-title">Add User</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 col-sm-12 col-md-6 col-lg-4">
                                <label class="form-label required" asp-for="FirstName">First Name</label>
                                <div>
                                    <input type="text" class="form-control" placeholder="Enter First Name"
                                        asp-for="FirstName">
                                    <span class="text-danger" asp-validation-for="FirstName"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-sm-12 col-md-6 col-lg-4">
                                <label class="form-label required" asp-for="LastName">Last Name</label>
                                <div>
                                    <input type="text" class="form-control" placeholder="Enter Last Name"
                                        asp-for="LastName">
                                    <span class="text-danger" asp-validation-for="LastName"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-sm-12 col-md-6 col-lg-4">
                                <label class="form-label required" asp-for="Email">Email</label>
                                <div>
                                    <input type="email" class="form-control" placeholder="Enter Email" asp-for="Email">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-sm-12 col-md-6 col-lg-4">
                                <label class="form-label required" asp-for="Username">Username</label>
                                <div>
                                    <input type="text" class="form-control" placeholder="Enter Username"
                                        asp-for="Username">
                                    <span class="text-danger" asp-validation-for="Username"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-sm-12 col-md-6 col-lg-4">
                                <label class="form-label" asp-for="PhoneNumber">Phone Number</label>
                                <div>
                                    <input type="text" class="form-control" placeholder="Enter Phone Number"
                                        asp-for="PhoneNumber">
                                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-sm-12 col-md-6 col-lg-4">
                                <label class="form-label required" asp-for="Roles">Roles</label>
                                <div>
                                    <select asp-items="@Model.RolesSelectListItems" asp-for="Roles"
                                        class="form-select select2" multiple></select>
                                    <span class="text-danger" asp-validation-for="Roles"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-sm-12 col-md-6 col-lg-4">
                                <label class="form-label required" asp-for="Password">Password</label>
                                <div>
                                    <input type="password" class="form-control" placeholder="Enter Password"
                                        asp-for="Password">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-sm-12 col-md-6 col-lg-4">
                                <label class="form-label required" asp-for="ConfirmPassword">Confirm Password</label>
                                <div>
                                    <input type="password" class="form-control" placeholder="Enter Confirm Password"
                                        asp-for="ConfirmPassword">
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}